* {

    margin: 0;
    padding: 0;
    background-color: #451531;
}

header {

    
    display: inline-flex;
    height: 60px;
    width: 40%;
    background-color: #1e7b92;
    padding-top: 25px; padding-left: 20px;
    margin-top: 45px; margin-left: 30px;
    font-family: candara; color: white; text-transform: uppercase; font-weight: bold; font-size: 20px;
    border-radius: 7px;
}

h2 {
    display: block;
    font-family: candara; color: white; text-transform: uppercase; font-weight: bold; font-size: 30px;
    margin-top: 50px ; margin-left: 300px;
}

img {

    height: 600px;
    width: 400px;
    margin-top: 100px; margin-left: 40%; margin-bottom: 100px;
}

h3 {
    display: block;
    font-family: candara; color: white; text-transform: uppercase; font-weight: bold; font-size: 40px;
    padding-top: 20px ; margin-left: 450px;

}

h3 span{
    color: #1e7b92;
}

h4 {

    display: block;
    justify-content: center;
    font-family: candara; color: white; text-transform: uppercase; font-weight: bold; font-size: 25px;
    padding-top: 20px ; padding-left: 210px;

}

h5 {

    display: block;
    justify-content: center;
    font-family: candara; color: white; text-transform: uppercase; font-weight: bold; font-size: 25px;
    padding-top: 1px ; padding-left: 580px;

}

h6 {

    display: block;
    justify-content: center;
    font-family: candara; color: #1e7b92; text-transform: uppercase; font-weight: bold; font-size: 35px;
    padding-top: 10px ; margin-left: 550px;

}

#opcao1 {

    display: flex;
    flex-direction: row;
    padding-top: 100px; padding-bottom: 50px;
    
}

.opcao11 {
    height: 100px;
    width: 350px;
    background-color: #1e7b92;
    margin-left: 250px;
    text-align: center; 
    padding-top: 20px;
    font-family: candara; font-size: 25px; color: white;
    border-radius: 7px;
    font-weight: bold;
}

.opcao12 {

    margin-left: 400px;
    height: 100px;
    width: 350px;
    background-color: #1e7b92;
    text-align: center; 
    padding-top: 5px; 
    font-family: candara; font-size: 25px; color: white;
    border-radius: 7px;
    font-weight: bold;
}

a {
    text-decoration: none;
}